* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
.active{
    color: #EA06F8 !important;
    border-bottom: 2px solid #EA06F8;
    padding-bottom: 3px
}

.navbar {
    background-color: rgba(0, 0, 0, 0.642);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    z-index: 80000;
    justify-content: space-around;
    padding-bottom: 15px;
}

.navbar .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: auto;
}

.unactive {
    cursor: pointer;
    flex-wrap: nowrap;
    float: right;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    margin-left: 80px;

}

.navbar .logo {
    font-weight: bold;
    height: 2rem;
    margin-left: 3rem;
    margin-right: 7rem;
}